.Results h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 12px;
  margin-top: 8px;
  color: #2f3e34;
}

.Results .Phonetic {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
  opacity: 0.8;
  color: #7d8b7f;
}
